.stepClass {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    .stateIcon {
      width: 13px;
      height: 14px;
      .text {
        position: absolute;
        transform: translate(-35%, -25px);
      }
    }
   
    .line {
      width: 57px;
      height: 1px;
      margin-top: -1px;
      background: #cfcfcf;
    }
  }